/* styles.css */

body {
    background: linear-gradient(135deg, #f0f4fd, #d9e4ff);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    max-width: 800px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2c3e50;
}

button {
    font-weight: bold;
    transition: background-color 0.3s;
}

button#add-step {
    background-color: #3498db;
    color: white;
}

/* Custom Switch Styling */
.custom-switch {
    position: relative;
    width: 70px;
    height: 34px;
    display: inline-block;
}

.custom-switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.custom-switch-label {
    display: block;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    padding: 0;
}

.switch-circle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Switch Active State */
.custom-switch-input:checked + .custom-switch-label {
    background-color: #28a745; /* Yeşil arka plan */
}

.custom-switch-input:checked + .custom-switch-label .switch-circle {
    transform: translateX(36px); /* Daireyi sağa kaydır */
}

/* Text Styling */
.switch-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: red;
    pointer-events: none;
    transition: color 0.3s;
}


.custom-dark-orange {
    background-color: #FF8C00;
    color: white;
    text-decoration: none;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.custom-dark-orange:hover {
    transform: scale(1.1);
    background-color: #FF8C00;
}

button#add-step:hover {
    background-color: #2980b9;
}

button.remove-step {
    margin-top: 10px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin-bottom: 15px;
}
